html, body {
	width: 100%;
	height: 100%;
	font-family: 'Tajawal', sans-serif;
	color: #222;
	margin: 0;
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 3em;
	margin: 5px 5px;
}

h2 {
	font-size: 2em;
	margin: 1%;
}

h3 {
	font-weight: 500;
}

p {
	margin: 10px;
}

a {
	text-decoration: none;
	color: #222;
}

.closeX {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.5em;
	text-align: center;
	padding: 20px;
	margin: 0;
	font-weight: bold;
	font-size: 1.5em;
	color: #bbb;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex: 1 0 auto;
}


/*~~~~~~~~~~General~~~~~~~~~~*/

a:hover {
	color: #8BC34A;
}


/*~~~~~~~~~Header~~~~~~~~~~~*/
header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	margin-bottom: 5px;
	flex-shrink: 0;
}

img#logo {
	height: 95%;
	width: auto;
	padding-left: 2%;
}

header a {
	padding: 0px 5px;
}

#logoSpan {
	height: 95%;
	width: auto;
	padding-left: 2%;
	transition: transform 0.2s, opacity 0.2s;
}

#logoSpan:hover {
	transform: scale(0.9);
	opacity: 0.8;
}

#mainNav {
	max-width: 100%;
	min-width: 30%;
	display: flex;
	justify-content: space-around;
	margin-right: auto;
	align-items: center;
}

#volume {
	padding-right: 4%;
	width: 12%;
	height: auto;
	max-width: 370px;
	min-width: 150px;
}

#mainNav > * {
	height: 50px;
	align-items: center;
}

.dropdown {
	position: relative;
	display: flex;
}

.dropdownContent {
	display: none;
	position: absolute;
	z-index: 1;
	box-shadow: 0 4px 7px 0 #aaa, 1px 0 7px 0 #ccc;
	width: 100px;
	background-color: #ffffff;
	top: 100%;
	border-radius: 5px;
}

.dropdownContent a {
	padding: 10px 15px;
}


.dropdownContent a:first-child {
	padding-top: 15px;
}

.dropdownContent a:last-child {
	padding-bottom: 15px;
}

.dropdownContent a:hover {
	background-color: #eee;
}

.dropdown:hover .dropdownContent {
	display: flex;
	flex-direction: column;
}

#characterDropdown .dropdownContent {
	width: 150px;
}

/*~~~~~~Footer~~~~~~~~~*/
footer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	flex-shrink: 0;
	font-size: 0.9em;
}

footer #footer {
	display: flex;
	min-width: 20%;
	justify-content: space-between;
}

footer p {
	margin: 20px 15px;
}


/*~~~~~~~~~Home Page~~~~~~~~~~~*/
section#home {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

section img#peterEating {
	height: 65%;
	width: auto;
	max-height: 683px;
}

section#home a#startBtn {
	font-size: 1.3em;
	margin-top: 12px;
}

main#homeMain {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
}

/*~~~~~~~~~~~~~~~Story~~~~~~~~~~~~~~~~~~~~*/

.story {
	display: flex;
	flex-direction: row;
}

.leftColumn, .rightColumn {
	display: flex;
	width: 60%;
	padding: 0 3%;
	justify-content: center;
}

.story img {
	width: 100%;
	max-width: 450px;
}

.storyNav {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}

.storyNav span {
	height: 100%;
	font-weight: 300;
	font-size: 2em;
}

.story a {
	color: #8BC34A;
}

.story a:hover {
	color: #6186ff;
}

/*~~~~~~~~~~~~~~~~~Story Pages~~~~~~~~~~~~*/

#pg1Names {
	display: flex;
	flex-direction: column;
	line-height: 0.3em;
}

#story1Nav .prevPageBtn {
	visibility: hidden;
}

.characterPopup {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 12%;
	height: 30%;
	justify-content: center;
	align-items: center;
	background: #fff;
	border: solid 2px #bbb;
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 #ddd, 3px 0 15px 5px #eee;
	padding: 0 0.8%;
	margin: 1% 1%;
	z-index: 99;
}

.characterPopup p {
	margin-bottom: 0;
}

.characterPopup span {
	height: 40%;
}

.characterPopup img {
	max-height: 100%;
	max-width: 100%;
}

@media screen and (max-width: 799px), (max-height: 799px) {
	
	.characterPopup {
		width: 25%;
		height: 50%;
	}
	
	.characterPopup span {
	height: 40%;
	}
}

#storyGame .middleColumn {
	display: flex;
	width: 80%;
	flex-direction: column;
	align-items: center;
}

#storyGame #hideOptions {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	margin: 5% 0;
}

#storyGame a {
	display: flex;
	flex-direction: column;
	width: 20%;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border: solid 2px #bbb;
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 #ddd, 3px 0 15px 5px #eee;
	padding: 25px;
	margin: 0 5%;
	color: #222;
	font-size: 1.4em;
	text-align: center;
	transition: transform 0.2s;
}

#storyGame a:hover {
	transform: scale(0.9);
}
	
#storyGame span {
	width: 50%;
	margin: 10% 0;
}

.storyEnd {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.storyEnd span {
	width: 20%;
}

.storyEnd img {
	max-width: 100%;
	max-height: 100%;
}

.storyEnd nav {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 3%;
}

.storyEnd a {
	margin: 1%;
}

/*~~~~~~~~~~~~~~~~Characters~~~~~~~~~~~~~~~~*/

.characterButtons {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.characterButtons a {
	display: flex;
	width: 33%;
	align-items: center;
	border: solid 2px #bbb;
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 #ddd, 3px 0 15px 5px #eee;
	padding: 25px;
	transition: transform 0.2s;
	font-size: 1.6em;
	font-weight: 300;
	margin: 0 4%;
}

.characterButtons a:hover {
	transform: scale(0.95);
	color: #222;
}

.characterButtons a:hover img {
	opacity: 0.8;
}

.characterButtons span {
	width: 60%;
	max-width: 463px;
	margin-right: 1.5%;
}

.characterButtons img {
	width: 100%;
	transition: opacity 0.2s;
}

@media screen and (max-width: 599px) {
	.characterButtons {
		flex-direction: column;
	}
	
	.characterButtons a {
		width: 40%;
		margin: 5% 0;
	}
}

/*~~~~~~~~~~~~~~Character Profile Page~~~~~~~~~~~*/

.characterProfileButtons {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.characterProfileButtons a {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 250px;
	justify-content: center;
	border: solid 2px #bbb;
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 #ddd, 3px 0 15px 5px #eee;
	padding: 25px;
	transition: transform 0.2s;
	font-size: 1.6em;
	font-weight: 300;
	margin: 2% 2%;
}

.characterProfileButtons a:hover {
	transform: scale(0.95);
	color: #222;
}

.characterProfileButtons a:hover img {
	opacity: 0.8;
}

.characterProfileButtons figure {
	display: flex;
	justify-content: center;
	margin: 0;
	margin-bottom: 10%;
	height: 70%;
	max-width: 300px;
}

.characterProfileButtons figcaption {
	text-align: center;
}

.characterProfileButtons img {
	max-height: 100%;
	max-width: 100%;
	transition: opacity 0.2s;
}

.characterProfileModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	width: 35%;
	height: 75%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 #444, 3px 0 15px 5px #555;
	background-color: #fff;
	padding: 25px;
	z-index: 3;
}

.characterProfileModal span {
	height: 50%;
}

.characterProfileModal img {
	max-height: 100%;
	max-width: 100%;
}

#characterProfilePageStatic #characterProfiles {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#characterProfilePageStatic #characterProfiles h1 {
	width: 100%;
	text-align: center;
	margin-top: 5%;
}

.characterProfileStatic {
	display: flex;
	width: 30%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	border: solid 2px #bbb;
	box-shadow: 0 5px 15px 0 #ddd, 3px 0 15px 5px #eee;
	background-color: #fff;
	padding: 25px;
	margin: 2%;
}

.characterProfileStatic span {
	height: 50%;
}

.characterProfileStatic img {
	max-height: 100%;
	max-width: 100%;
}

#backToTop {
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 #ddd, 3px 0 15px 5px #eee;
	padding: 15px 20px;
	transition: transform 0.2s;
	font-size: 1.1em;
	margin: 1% 1%;	
	background: #FF6186;
	color: #fff;
}

#backToTop:hover {
	transform: scale(0.95);
	color: #fff;
}

@media screen and (max-width: 799px), (max-height: 799px) {
	.characterProfileModal span {
	height: 40%;
	}
}

@media screen and (max-width: 700px), (max-height: 800px) {
	
	.characterProfileButtons a {
		width: 100px;
		height: 150px;
		font-size: 1.2em;
	}
	
	.characterProfileModal {
		width: 60%;
	}
}

/*~~~~~~~~~~~~~~Character Quiz~~~~~~~~~~~~~*/

.characterQuiz {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 60%;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 #444, 3px 0 15px 5px #555;
	padding: 3%;
	z-index: 3;
}

.characterQuiz .question {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 3%;
}

.characterQuiz form {
	width: 50%;
}

.characterQuiz input {
	margin: 3% 4%;
	transform: scale(1.5);
}

.characterQuiz label {
	font-size: 1.1em;
	height: 1.1em;
}

.characterQuiz h4 {
	font-size: 1.3em;
	font-weight: 500;
}

.characterQuiz span {
	width: 25%;
}

.characterQuiz img {
	max-width: 100%;
	max-height: 100%;
}

.characterQuiz label img {
	visibility: hidden;
	height: 1.1em;
	vertical-align: middle;
	margin-left: 5%;
}

.characterQuiz nav {
	display: flex;
	width: 95%;
	flex-direction: row;
	justify-content: space-between;
}

.characterQuiz .btn-blue {
	visibility: hidden;
}

.characterQuiz h5 {
	visibility: hidden;
	font-size: 1.7em;
	margin: 0.6em 0;
}

.characterQuiz h5.correct {
	color: #8BC34A;
}

.characterQuiz h5.incorrect {
	color: #dc262e;
}

.characterQuiz nav#quizEnd {
	justify-content: center;
}

.characterQuiz nav#quizEnd button {
	margin: 2%;
	visibility: visible;
}

.characterQuiz#characterQuiz4 {
	justify-content: center;
}


@media only screen and (max-width: 700px), screen and (max-height: 600px) {
	.characterQuiz {
		height: auto;
	}
	
	.characterQuiz nav {
		flex-direction: column;
		align-items: center;
	}
	
	.characterQuiz nav button {
		width: 100%;
	}
}


/*~~~~~~~~~~~~~~~~~About Page~~~~~~~~~~~~~~*/
#about {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#about article {
	display: flex;
	width: 75%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px 0px;
}

#about article section {
	width: 65%;
}

#about h3 {
	width: 100%;
}

#about p {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
}

#about span {
	width: 30%;
	max-width: 200px;
}

#about img {
	width: 100%;
	box-shadow: 2px 3px 20px 5px #ccc;
}

#about a {
	color: #8BC34A;
}

#about a:hover {
	color: #6186ff;
}

#author {
	max-width: 310px;
}

#cover {
	max-width: 301px;
}

#about hr {
	color: #ccc;
	background-color: #ccc;
	border-color: #ccc;
	border-style: solid;
	width: 85%;
}

@media screen and (min-width: 1100px) {
	#about article {
		width: 60%;
	}
	
	#about hr {
		width: 70%;
	}
}


/*~~~~~~~~~Buttons~~~~~~~~*/

[class^='btn'] {
	border: none;
	border-radius: 6px;
	padding: 14px 38px;
	color: #FFF;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: -3px 3px 2px #888;
}

[class^='btn']:active {
	box-shadow: -1px 1px 2px #222;
	transform: translateY(2px) translateX(-2px);
}

.btn-pink {
	background-color: #FF6186;
}

.btn-pink:hover {
	background-color: #e5486c;
	color: #FFF;
}

.btn-blue {
	background-color: #6186ff;
	padding: 14px 32px;
	font-size: 1em;
}

.btn-blue:hover {
	background-color: #4d6bcc;
	color: #fff;
}

.btn-green {
	background-color: #8BC34A;
	padding: 14px 32px;
	font-size: 1em;
}

.btn-green:hover {
	background-color: #7daf42;
	color: #fff;
}

.btn-green:disabled {
	background-color: #6d8452;
	color: #ccc;
}

.logo:hover {
	box-shadow: -3px 3px 2px #888;
}


/*~~~~~~~~General Important~~~~~~~~~~~*/

@media only screen and (max-width: 700px), screen and (max-height: 600px) {
	body {
		font-size: 14px;
	}
}

.hidden {
	display: none;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: 2;
}

